<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向mapper接口 -->
<mapper namespace="com.bicycle.mapper.bicycle.BicycleMapper">

    <!-- 在对应的 Mapper XML 文件中 -->
    <insert id="insertList">
        INSERT INTO bicycle_info (id, pro_name,model, frame_no, image, produce_time, qr_img, conclusion,
        hollow_hole, in_fold, raveling, remark, create_time, update_time) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.proName}, #{item.model}, #{item.frameNo}, #{item.image}, #{item.produceTime},
            #{item.qrImg},#{item.conclusion},#{item.hollowHole}, #{item.inFold}, #{item.raveling},
            #{item.remark},#{item.createTime},#{item.updateTime})
        </foreach>
    </insert>

</mapper>