<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向mapper接口 -->
<mapper namespace="com.bicycle.mapper.bicycle.BicycleMapper">

    <!-- 在对应的 Mapper XML 文件中 -->
    <insert id="insertList">
        INSERT INTO bicycle_info (id, model, frame_no, image, produce_time, qrcode, qr_img, conclusion, remark, is_del, create_time, update_time) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.model}, #{item.frameNo}, #{item.image}, #{item.produceTime}, #{item.qrcode},#{item.qrImg},#{item.conclusion},#{item.remark},#{item.isDel},#{item.createTime},#{item.updateTime})
        </foreach>
    </insert>

</mapper>