<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向mapper接口 -->
<mapper namespace="com.bicycle.mapper.user.SystemUserMapper">
    <select id="userList" resultType="com.bicycle.entry.user.SystemUserEntry">
        SELECT su.*,
            (SELECT GROUP_CONCAT(sd.dept_name)
             FROM sys_dept_user sdu
                 INNER JOIN sys_dept sd ON sdu.dept_id = sd.id
             WHERE sdu.user_id = su.id) AS dept_name,
            (SELECT GROUP_CONCAT(sr.role_name)
             FROM sys_user_role sur
                 INNER JOIN sys_role sr ON sur.role_id = sr.id
             WHERE sur.user_id = su.id
                <if test="userSearchValidate.roleId != null and userSearchValidate.roleId !=''">
                    AND sr.id = #{userSearchValidate.roleId}
                </if>
             )
            AS role_name
        FROM sys_user su
        WHERE su.id != 1
            <if test="userSearchValidate.account != null and userSearchValidate.account !=''">
                AND su.account = #{userSearchValidate.account}
            </if>
            <if test="userSearchValidate.nickname != null and userSearchValidate.nickname !=''">
                AND su.username LIKE concat('%', #{userSearchValidate.nickname} ,'%')
            </if>
            LIMIT #{pageNo}, #{pageSize};
    </select>

    <select id="userCount" resultType="long">
        select COUNT(DISTINCT su.id) from sys_user su
        LEFT JOIN sys_dept_user sdu ON su.id = sdu.user_id
        LEFT JOIN sys_dept sd ON sdu.dept_id = sd.id
        LEFT JOIN sys_user_role sur ON su.id = sur.user_id
        LEFT JOIN sys_role sr ON sr.id = sur.role_id
        WHERE 1 = 1 AND su.id != 1
        <if test="userSearchValidate.account != null and userSearchValidate.account !=''">
            AND su.account = #{userSearchValidate.account}
        </if>
        <if test="userSearchValidate.nickname != null and userSearchValidate.nickname !=''">
            AND su.username LIKE concat('%', #{userSearchValidate.nickname} ,'%')
        </if>
        <if test="userSearchValidate.roleId != null and userSearchValidate.roleId !=''">
            AND sr.id = #{userSearchValidate.roleId}
        </if>
    </select>

    <insert id="insertRoleList">
        INSERT INTO sys_user_role(user_id, role_id) VALUES
        <foreach collection="roleIds" item="id" separator=",">
            (#{userId}, #{id})
        </foreach>
    </insert>

    <insert id="insertDeptList">
        INSERT INTO sys_dept_user(dept_id, user_id) VALUES
        <foreach collection="deptIds" item="id" separator=",">
            (#{id}, #{userId})
        </foreach>
    </insert>
</mapper>